body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: red;
}

:host ::ng-deep #cke_1_contents {
  min-height: 500px;
}

:host ::ng-deep .cke_editable {
  padding-top: 15px;
}

:host ::ng-deep .cke_combopanel__placeholderselect {
  background-color: white;
}

:host ::ng-deep .cke_combo_text {
  width: auto;
}
